<section class="container section-dashboard">
  <div class="row produtos">
    <div class="product-item" *ngFor="let product of products">
      <div class="product-image">
        <img [src]="product.image" />
      </div>

      <div class="product-footer">
        <p>{{ product.name }}</p>
        <p>{{ product.price | currency: 'R$' }}</p>
      </div>

      <div>
        <a
          class="btn btn-block btn-primary"
          [routerLink]="'/products/' + product.id"
        >
          Ver Detalhes
        </a>
      </div>
    </div>
  </div>
</section>
