<section class="container section-dashboard">
  <div class="row produtos">
    <div class="product-item">
      <div class="product-image">
        <img src="https://img.elo7.com.br/product/zoom/1D31216/caneca-personalizada-de-porcelana-caixinha-caneca-personalizada.jpg" />
      </div>
      <div class="product-footer">
        <p>Nome do Produto</p>
        <p>R$ 15,99</p>
      </div>

      <div>
        <button class="btn btn-block btn-primary" onclick="irParaDetalhes(this, event)">Ver Detalhes</button>
      </div>
    </div>

    <div class="product-item">
      <div class="product-image">
        <img src="https://img.elo7.com.br/product/zoom/1D31216/caneca-personalizada-de-porcelana-caixinha-caneca-personalizada.jpg" />
      </div>
      <div class="product-footer">
        <p>Nome do Produto</p>
        <p>R$ 15,99</p>
      </div>
      <div>
        <button class="btn btn-block btn-primary" onclick="irParaDetalhes(this, event)">Ver Detalhes</button>
      </div>
    </div>

    <div class="product-item">
      <div class="product-image">
        <img src="https://img.elo7.com.br/product/zoom/1D31216/caneca-personalizada-de-porcelana-caixinha-caneca-personalizada.jpg" />
      </div>
      <div class="product-footer">
        <p>Nome do Produto</p>
        <p>R$ 15,99</p>
      </div>
      <div>
        <button class="btn btn-block btn-primary" onclick="irParaDetalhes(this, event)">Ver Detalhes</button>
      </div>
    </div>
  </div>

</section>
