<section class="container">
  <h1>{{ product && product.name }}</h1>
  <div class="produto-detalhado">
    <img [src]="product && product.image" />

    <div class="produto-detalhado__detalhes">
      <p class="nome-produto">Nome do produto</p>
      <p>{{ product && product.price | currency: 'R$' }}</p>
      <p>{{ product && product.description }}</p>
      <a class="btn btn-primary btn-block" [routerLink]="['/checkout']"
        >Comprar</a
      >
    </div>
  </div>
</section>
