
.section-dashboard {
display: flex;
height: 94vh;
}

.dashboard {
display: flex;
justify-content: center;
margin-top: 50px;
flex: 1;
}

.dashboard .item {
display: flex;
justify-content: center;
align-items: center;
margin: 30px;
height: 215px;
width: 215px;
}

.dashboard .item button,
.dashboard .item a {
background-color: #6c5ce7;
outline: none;
color: #ffffff;
border: none;
height: 215px;
width: 215px;
cursor: pointer;
border-radius: 20px;
}

.dashboard .item a {
padding-top: 90px;
padding-bottom: 90px;
height: 215px;
width: 215px;
text-decoration: none;
text-align: center;
transition: all ease .2s
}

.dashboard .item a:hover {
margin-top: -10px;
-webkit-box-shadow: -2px 7px 19px -4px rgba(150,150,150,1);
-moz-box-shadow: -2px 7px 19px -4px rgba(150,150,150,1);
box-shadow: -2px 7px 19px -4px rgba(150,150,150,1);
}
