<div class="main-wrapper">
  <section class="featured-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-feature">
            <div class="icon">
              <span class="lnr lnr-sun"></span>
            </div>
            <div class="desc text-center">
              <h6 class="title text-uppercase">Compre!</h6>
              <p>Compre sem sair de casa!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-feature">
            <div class="icon">
              <span class="lnr lnr-code"></span>
            </div>
            <div class="desc text-center">
              <h6 class="title text-uppercase">Venda!</h6>
              <p>Crie sua própria loja com apenas alguns cliques!</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-feature">
            <div class="icon">
              <span class="lnr lnr-clock"></span>
            </div>
            <div class="desc text-center">
              <h6 class="title text-uppercase">Crie</h6>
              <p>Crie sua arte personalizada e adicione a um produto!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="story-area-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="story-title sm-show text-center">
            <h3 class="text-white">Criar novas artes</h3>
            <span class="text-uppercase text-white">Reimaginando a forma de como vender na web</span>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="story-title sm-hide text-right">
            <h3 class="text-white"></h3>
            <span class="text-uppercase text-white"></span>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
